body {
    justify-content: center;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.logInForm {
    display: inline-block;
    width: 300px;

}

#bannerText {
    margin-right: 30px;


}