@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
    text-align: center;
    font-family: "Poppins", sans-serif;


}

.formArea{
    max-width : 600px;
    margin: auto;
    padding: 20px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    display: inline-block;
    text-align:center;
    border-radius: 5px;
    line-height: 20px;

}

label{
    font-weight: 3px;


}

.formArea:hover {
    transform: scale(1.05);


}

.logInForm{
    align-self:center;
    text-decoration: inherit;
    color: black;
    font-weight: 5px;

}
.logInForm,button{
    width:100%;
    border-radius: 5px;
    outline: none;

}

.logInForm,button,input{
    width:100%;
    border: none;
    height: 20px;
}

.logInForm,button{
    width:70%;
    height: 25px;
    background-color: rgb(28, 234, 90);
    border-radius: 3px;
}

.signUpForm,button{
        width:70%;
        height: 40px;
        background-color: rgb(28, 234, 90);
        border-radius: 3px;
}


.signUpForm, .resetPassForm{
    width:70%;
    height: 40px;
    background-color: rgb(28, 234, 90);
    border-radius: 3px;
}

input{
    background-color: rgb(189, 220, 245);
    width:120px;
    border-radius: 2px;
    height: 20px;
}

.resetPassForm,  button{
    width:120px; 
}


#remember{
    display: inline-block;


}



a{
    text-decoration: inherit;

}